%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}

  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html'}
    %title Contacts 
    = stylesheet_link_tag 'compiled/screen.css', :media => 'screen, projection'

  %body
    %p
      = notice
    #content
      = yield

